@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Gruvbox theme (default) */
    --color-primary: #d65d0e;
    --color-background: #fbf1c7;
    --color-text: #3c3836;
    --color-border: #d5c4a1;
    --radius: 0.5rem;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-text;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
